.dialog-title {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 5px;
}

.task-status {
    margin-bottom: 15px;
    font-style: italic;
    font-size: 80%;
}

.dialog-content {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.description-area {
    height: 200px;
}