.main-container {
    margin: 50px 200px 200px 200px;
}

.main-title {
    font-weight: bold;
    font-family: 'Andika', sans-serif;
    text-transform: uppercase;
}

.main-card {
    background-color: #949AAC;
    border-radius: 15px;
    padding-bottom: 8px; 
}

.kanban-title {
    font-weight: bold;
    color: white;
    font-family: 'Andika', sans-serif;
}