@import url('https://fonts.googleapis.com/css?family=Andika&display=swap');

html {
    background-color: #daba9e;
}

.page-container {
    margin: 50px 200px 200px 200px;
}

.page-title {
    font-weight: bold;
    font-family: 'Andika', sans-serif;
    text-transform: uppercase;
}


